<div class="site-branding">
    <div class="ast-site-identity" itemtype="https://schema.org/Organization" itemscope="itemscope">
		<span class="site-logo-img">
            <a href="/" class="custom-logo-link" rel="home" aria-current="page">
                <img src="/assets/images/anderson_jahde_site_logo.jpg" class="w-[200px] md:w-[265px]" alt="Anderson &amp; Jahde" decoding="async"  />
            </a>
        </span>	
    </div>
</div>


