<div>
    <a href="/" class="block p-4 md:p-5{% if layout == 'home' %} bg-gradient-to-b from-white to-neutral-300 rounded-b-xl shadow-lg{% endif %}">
        {% image "/assets/images/logo.png", site.title ~ " — " ~ site.author.credentials, { widths: [250], sizes: "250px", class: "w-auto h-20", eager: true } %}
    </a>
</div>
