<h1 class="pl-2">
    <a href="/">
        <img src="/assets/images/logo.jpg" alt="{{ site.title }} — {{ site.author.credentials }}" width="489" height="179" class="h-12 lg:h-14 w-auto">
    </a>
</h1>
