<div class="mt-8 rounded-md overflow-hidden shadow-sm">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d{{ site.map.scale }}!2d{{ site.map.lng }}!3d{{ site.map.lat }}!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1699999999999!5m2!1sen!2sus"
        width="100%"
        height="400"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-upgrade"
        title="{{ site.title }} Office Location Map">
    </iframe>
</div>
