{% if post.data.date  %} 
    {% set timeStamp = post.data.date %}
{% else %}
    {% set timeStamp = date %}
{% endif  %} 

<div class="my-2">
    <time   datetime="{{ timeStamp | htmlDateString }}"
            class="block rounded-lg bg-stone-200/40 py-2 px-3 mt-3 font-semibold uppercase text-center text-xs tracking-wide max-w-fit text-stone-600">
            {{ timeStamp | postDate }}
    </time>
</div>