{% if intro %}
<div class="bg-white">
    <div class="container py-14 md:py-16">
        <p class="max-w-3xl mx-auto text-center text-stone-600 text-lg md:text-xl leading-8 md:leading-9">{{ intro }}</p>
    </div>
</div>
{% endif %}
