<!DOCTYPE html>
<html lang="en">
{% include "components/head.njk" %}

<body>
{% include "components/header.njk" %}

<section class="bg-warm-50">
   {{ content | safe }}
</section>


    </body>
</html>