<!DOCTYPE html>
<html lang="en">
{% include "components/head/head.njk" %}
<body x-data="{ open: false, consultOpen: false, consultSubmitting: false, consultSubmitted: false, consultError: false }" {% if layout %}class="{{ layout }} {{ bodyClass }}"{% endif %}>
{% include "components/header/header.njk" %}

<section class="bg-neutral-50">
   {% block mainContent %}{% endblock %}
</section>

{% include "components/footer/footer.njk" %}

<script>
  if (/[#&](confirmation_token|invite_token|recovery_token|email_change_token)=/.test(window.location.hash)) {
    var identityScript = document.createElement("script");
    identityScript.src = "https://identity.netlify.com/v1/netlify-identity-widget.js";
    identityScript.onload = function () {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/cms/";
          });
        }
      });
    };
    document.head.appendChild(identityScript);
  }
</script>

</body>
</html>