<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8befc7acc2.js" crossorigin="anonymous"></script>

    <script src="//unpkg.com/alpinejs" defer></script>

    <link rel="stylesheet" href="/assets/styles/main.css?v={% version %}" />
  </head>

  <body>
    {% include "components/header/header.njk" %}

    {% if mast %}
      {% include 'components/masts/' + mast + '.njk' %}
    {% endif %}

    <main>
      {{ content | safe }}
    </main>

    {% include "components/footer.njk" %}
  </body>
</html>
