{% extends "layouts/base.njk" %}
{% block mainContent %}
<main class="container py-10">
    {% if title %}
    <h1 class="text-3xl md:text-4xl pb-8 mb-8 border-b border-stone-200 font-normal">{{ title }}</h1>
    {% endif %}
    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-4">
    {% set team = collections.team | sort(false, false, 'data.order') %}
    {%- for member in team -%}
        {% include "components/team/card.njk" %}
    {%- endfor -%}
    </div>
</main>
{% endblock %}
