<div class="bg-home-cover  text-white text-center ">
    <div style="background: #1B2023; background: linear-gradient(90deg,rgba(27, 32, 35, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(27, 32, 35, 1) 100%);" class="py-16 md:py-24 min-h-96 px-8">
        <div class="max-w-2xl mx-auto pt-4"><h1 class="text-4xl leading-[3rem] md:text-6xl font-strong tracking-tight pb-8 border-b border-neutral-200/25 md:leading-[4rem]">Welcome To <br />Anderson &amp; Jahde</h1></div>
        <h2 class="text-2xl tracking-tight leading-[2.6rem] md:text-4xl py-12 md:leading-[3rem] font-medium">Helping Colorado Taxpayers<br />and Professionals Since 1995</h2>
    </div>
</div>


