<div class="bg-home-cover  text-white text-center ">
  <div style="background: #1B2023; background: linear-gradient(90deg,rgba(27, 32, 35, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(27, 32, 35, 1) 100%);" class="py-16 md:py-24 min-h-96 px-8">
    <div class="max-w-2xl mx-auto pt-4">
      <h1 class="text-4xl leading-[3rem] md:text-6xl font-strong tracking-tight md:leading-[4rem]">Welcome To <br />Anderson &amp; Jahde</h1>
    </div>
    <span class="block border-b-2 border-b-white w-60 my-8 mx-auto"></span>
    <h2 class="text-2xl tracking-tight leading-[2.6rem] md:text-4xl pb-12 md:leading-[3rem] font-medium">Helping Colorado Taxpayers<br />and Professionals Since 1995</h2>
  </div>
</div>
