<form id="contact" class="max-w-[90%] mt-10" name="{{ site.title }} General Contact" method="POST" data-netlify="true" action="/contact/">

<label for="name" class="hidden" aria-label="Enter Your Name">Your Name:</label>
<input type="text" placeholder="Name" name="name" class="block w-full rounded-md border-0 px-4 py-3 text-stone-900 shadow-sm ring-1 ring-inset ring-stone-300 placeholder:text-stone-400 focus:ring-2 focus:ring-inset focus:ring-brand sm:text-sm sm:leading-6 mb-6" />

<label for="email" class="hidden" aria-label="Enter Your Email">Your Email:</label>
<input type="email" placeholder="Email" name="email" class="block w-full rounded-md border-0 px-4 py-3 text-stone-900 shadow-sm ring-1 ring-inset ring-stone-300 placeholder:text-stone-400 focus:ring-2 focus:ring-inset focus:ring-brand sm:text-sm sm:leading-6 mb-6" />

<label for="phone" class="hidden" aria-label="Enter Your Phone Number">Your Phone Number:</label>
<input type="phone" placeholder="Phone" name="phone" class="block w-full rounded-md border-0 px-4 py-3 text-stone-900 shadow-sm ring-1 ring-inset ring-stone-300 placeholder:text-stone-400 focus:ring-2 focus:ring-inset focus:ring-brand sm:text-sm sm:leading-6 mb-6" />


<label for="message" class="hidden" aria-label="Enter Your Message">How Can I Help?</label>
<textarea placeholder="How Can I Help?" name="message" class="block w-full rounded-md border-0 px-4 py-3 text-stone-900 shadow-sm ring-1 ring-inset ring-stone-300 placeholder:text-stone-400 focus:ring-2 focus:ring-inset focus:ring-brand sm:text-sm sm:leading-6 mb-6 h-32"></textarea>

<button type="submit" class="bg-accent hover:bg-accent-dark transition-colors rounded-md text-white px-6 py-3 min-w-[200px]">Send Message</button>

</form>
