{% set sbheader = "font-display font-semibold pb-4 border-b border-stone-300 mb-6 text-2xl text-stone-900" %}
{% set sbcard = "p-8 bg-neutral-50 rounded-md mb-8 shadow-sm" %}

<div class="col-span-12 lg:col-span-4" id="sidebar">

    <div class="{{ sbcard }}">
    <h2 class="{{ sbheader }}">How Can We Help?</h2>
    {% include "components/forms/sidebar-lead.njk" %}

    </div>

    {% if hideIntro != true %}
    <div class="{{ sbcard }}">
        <h2 class="{{ sbheader }}">About {{ site.author.firstName }}</h2>
        <p class="leading-7 mb-0 pr-6 text-stone-700">{{ site.sidebarintro }}</p>
    </div>
    {% endif %}

</div>
