@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
  /* Tailwind overrides */
  --container-sm: 100%;
  --container-md: 100%;
  --container-lg: 1140px;
  --container-xl: 1380px;
  --container-2xl: 1540px;
  --page-padding: 1.8rem;

  /* Custom */
  --color-ajblue: #0f1b27;
  --color-ajlightgrey: #a6aeb4;
  --color-ajllgrey: #f8f8f8;
  --color-ajgrey: #1b2023;
  --color-ajred: #d94948;
  --color-ajtext: rgba(1, 22, 39, 0.75);
  --color-gold: #d4af37;
}

@utility bg-ajblue {
  background: var(--color-ajblue);
}

@utility bg-ajllgrey {
  background: var(--color-ajllgrey);
}

@utility bg-ajgrey {
  background: var(--color-ajgrey);
}

@utility bg-ajred {
  background: var(--color-ajred);
}

@utility bg-home-cover {
  background: url('/assets/images/home.jpg');
  @apply bg-cover bg-no-repeat;
}

@utility bg-footer-cover {
  background: url('/assets/images/footer.jpg');
  @apply bg-cover bg-no-repeat;
}

@utility font-medium {
  font-weight: 400;
}

@utility font-strong {
  font-weight: 500;
}

@utility font-stronger {
  font-weight: 600;
}

@utility poppins {
  font-family: 'Poppins', sans-serif;
}

@utility text-sbtext {
  font-size: 0.6rem;
}

@utility text-toptext {
  font-size: 0.9rem;
}

body {
  @apply font-sans text-ajtext;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

.container {
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
}

main.container {
  padding-bottom: var(--page-padding);
  padding-top: var(--page-padding);
}

section {
  @apply my-20;
}

/****** MAIN NAVIGATION ***/

ul.main-navigation {
  @apply poppins text-base font-medium;
}

ul.main-navigation {
  @apply poppins;
}

ul.main-navigation > li {
  @apply inline-block float-left;
}

ul.main-navigation > li > a {
  @apply block px-2 lg:pl-3 py-6 ml-2 lg:ml-3;
}

ul.main-navigation > li > ul {
  @apply w-64 border-t text-sm rounded-lg;
}

ul.main-navigation > li > ul > li {
	@apply border-b;
}

ul.main-navigation > li > ul a {
	@apply block pl-6 py-3;
}

ul.main-navigation > li > ul li:hover {
	@apply bg-stone-100;
}

ul.main-navigation > li > ul > li:last-of-type {
  @apply border-none rounded-b-lg;
}

/** TEXT **/

.heading {
  @apply text-2xl font-strong;
}

.heading-s {
  @apply text-xl font-strong;
}

.heading-l {
  @apply text-3xl font-strong;
}

.subtitle {
/** t **/
  @apply text-sm uppercase font-strong text-ajlightgrey;
}

/** CTA **/

.button {
  @apply inline-block bg-ajred py-2 px-6 rounded-full text-white;
}

.stars {
  font-family: 'Source Sans 3', -apple-system, 'Segoe UI', sans-serif;
}
