{% include "components/header/off-canvas.njk" %}
{% include "components/header/top.njk" %}
<header class="{% if layout == 'home' %}absolute inset-x-0 top-10 bg-transparent{% else %}sticky top-0 bg-white border-b border-neutral-100{% endif %} z-50">
<nav x-data="{ open: false }"  role="navigation" aria-label="Main Menu">
<div class="container">
    <div class="flex items-center justify-between {% if layout == 'home' %}min-h-32 py-2{% else %}h-32{% endif %}">

    <div class="flex-shrink-0">
        {% include "components/global/logo.njk" %}
    </div>
    
    {% include "components/header/desktop-links.njk" %}
    {% include "components/header/mobile-button.njk" %}

    </div>
    
</div>
</nav>
</header>
