<div class="bg-neutral-950 text-neutral-50">
    <div class="container">
        <div class="flex items-center justify-center lg:justify-between h-10 align-middle">
            <p class="text-xs lg:text-sm m-0">Denver Based Tax Attorneys Since 1995</p>
            <a href="tel:303-782-0003" class="hidden lg:inline-block text-sm hover:text-neutral-300">Call: 303-782-0003</a>
        </div>
    </div>
</div><!-- End Top Bar-->
